$fonthead: 'Rubik', sans-serif;
$fontstack: 'Rubik', sans-serif;
$colordark: #263547;
$colorlightdark: #415873;
$colorlighterdark: #55677d;
$colorlight: #dcd0ce;
$colormiddle: #d0826f;
$coloryellow: #d0826f;
$colorpink: #FF4C60;
$colorblue: #6C6CE5;
$colordefault: #263547;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
  -moz-transition: all $second ease-in-out;
  transition: all $second ease-in-out;
}
